<h1 class="header">Angular 7 Drag and Drop Example</h1>
<mat-divider></mat-divider>
<div class="example-container">
  <h2 matBadge="{{ todo.length }}" matBadgeColor="warn">To do</h2>

  <div
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="todo"
    [cdkDropListConnectedTo]="[doneList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
  >
    <div class="todo-box" *ngFor="let item of todo; let i = index" cdkDrag>
      {{ item.title }} <span>{{ i + 1 }}</span>
    </div>
  </div>
</div>

<div class="example-container">
  <h2 matBadge="{{ done.length }}">Done</h2>

  <div
    cdkDropList
    #doneList="cdkDropList"
    [cdkDropListData]="done"
    [cdkDropListConnectedTo]="[todoList]"
    class="done-list"
    (cdkDropListDropped)="drop($event)"
  >
    <div class="done-box" *ngFor="let item of done" cdkDrag>
      <span class="strikethrough"> {{ item.title }}</span>
      <span> {{ item.body }}</span>
    </div>
  </div>
</div>
