<h1 class="header">Angular 7 Drag and Drop Example</h1>
<div class="example-container">
  <h1 matBadge="{{ todo.length }}" matBadgeColor="warn">To do</h1>

  <div
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="todo"
    [cdkDropListConnectedTo]="[doneList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
  >
    <div class="example-box" *ngFor="let item of todo" cdkDrag>
      {{ item.title }} <span>{{ item.id }}</span>
    </div>
  </div>
</div>

<div class="example-container">
  <h1 matBadge="{{ done.length }}">Done</h1>

  <div
    cdkDropList
    #doneList="cdkDropList"
    [cdkDropListData]="done"
    [cdkDropListConnectedTo]="[todoList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
  >
    <div class="example-box" *ngFor="let item of done" cdkDrag>
      <span class="strikethrough"> {{ item.title }}</span>
    </div>
  </div>
</div>
