.header {
  font-family: sans-serif;
  padding-left: 20px;
  height: 50px;
}

.example-container {
  width: 400px;
  max-width: 100%;
  margin: 40px;
  display: inline-block;
  vertical-align: top;
  font-family: cursive;
}

.example-list {
  font-family: sans-serif;
  border: solid 1px #4687f4;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}
.done-list {
  font-family: sans-serif;
  border: solid 1px #1fa463;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.todo-box {
  padding: 20px 10px;
  border-bottom: solid 1px white;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: #4687f48c;
  font-size: 18px;
}
.done-box {
  padding: 20px 10px;
  border-bottom: solid 1px #1ba261;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: #1ba26133;
  margin-bottom: 1px;
  font-size: 18px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 8px;
  font-family: sans-serif;
  background-color: #ffcf479e;
  box-shadow: 0px 11px 17px -5px rgba(0, 0, 0, 1);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.mat-badge-medium.mat-badge-after .mat-badge-content {
  right: unset;
}

.strikethrough {
  text-decoration: line-through;
}
